/*Base*/

* {
  box-sizing: border-box;
}
/*Layout*/

.container {
  /*background-color: lightgrey;*/
  width: 1000px;
  height: 1000px;
  margin: 0 auto;
}

.t-shirt-box {
  border: 3px solid lightblue;
  width: 500px;
  height: 500px;
}

.icon-box--icon {
  width: 100px;
  height: 75px;
  float: left;
  border-left: 3px solid lightblue;
  border-bottom: 3px solid lightblue;
  padding-left: 22px;
  padding-top: 10px;
  position: relative;
}

.icon-box--icon:last-child {
  border-right: 3px solid lightblue;

}

.icon-box--colored-box {
  height: 50px;
  width: 50px;
  background-color: blue;
}

.icon-box--hidden-box {
  width: 18px;
  height: 100px;
  border: 3px solid #000;
  background-color: #fff;
  position: absolute;
  left: 5px;
  bottom: 100%;
  visibility: hidden;

}

.icon-box--icon:hover .icon-box--hidden-box {
  visibility: visible;
}

/*Modules*/

/*State*/

/*Utils*/
