/*Base*/

body {
  font-family: arial;
  color: #81BCE6;
}


/*Layout*/

.page--container {
  width: 1000px;
  height: 1000px;
  background-color: lightgrey;
}

.page--content {
  width: 400px;
  height: 450px;
  margin: 0 auto;
  border: 3px solid #81BCE6;
  position: relative;


}

.page--item {
  width: 300px;
  height: 300px;
  padding: 3em;
}


.icon-box--icon {
  height: 53px;
  width: 76.75px;
  float: left;
  top: 370px;
  /*position: absolute;*/
  border-top: 3px solid #81BCE6;
  border-right: 3px solid #81BCE6;
}

.icon-box--icon:last-child {
  border-right: none;

}



/*Modules*/


/*State*/

/*Utils*/
